        <!-- navigation begins -->
        <nav class="navbar navbar-default navbar-static-top navbar-central" role="navigation" style="margin-bottom: 0">
            <!-- navbar toogle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('sistemas.inicio') }}">Expedientes</a>
            </div>
{% if current_user.is_authenticated %}
            <!-- navbar-right -->
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> {{ current_user.nombre }} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Contraseña</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ url_for('usuarios.logout') }}"><i class="fa fa-sign-out fa-fw"></i> Salir</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- sidebar -->
            <div class="navbar-default sidebar sidebar-central" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input id="searchfield" type="text" class="form-control" placeholder="Próximamente...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-folder-open fa-fw"></i> DeclaraNet<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Asistente</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('contrataciones_abiertas.list_active') }}">Contrataciones abiertas</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Sistemas<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ url_for('usuarios.list_active') }}">Usuarios</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
{% endif %}
        </nav>
        <!-- navigation ends -->
