{% extends 'layouts/app.html' %}
{% import 'macros/detail.html' as detail with context %}

{% block title %}Contratación abierta{% endblock %}
{% block description %}Detalle de una contratación abierta.{% endblock %}

{% block content %}
                <h1 class="page-header">Contratación abierta</h1>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Contratación abierta
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>OCID</dt>
                            <dd>{{ contratacion_abierta.ocid }}</dd>
                            <dt>Date</dt>
                            <dd>{{ contratacion_abierta.date }}</dd>
                            <dt>Contracts title</dt>
                            <dd>{{ contratacion_abierta.contracts_title }}</dd>
                            <dt>Contracts supplier</dt>
                            <dd>{{ contratacion_abierta.contracts_supplier }}</dd>
                            <dt>Contracts amount</dt>
                            <dd>{{ contratacion_abierta.contracts_amount }}</dd>
                        </dl>
                    </div>
                </div>
{% endblock %}
